.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.apresentacao h1 {
    font-size: xx-large;
    font-weight: 600;
    color: #000000e3;
    margin-bottom: 1rem;
}

.apresentacao p {
    font-size: large;
    font-weight: 400;
    color: #000000;
    margin-bottom: 1rem;
}